{
  "trailingComma": "es5",
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "endOfLine": "crlf",
  "printWidth": 100,
  "proseWrap": "never",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": ["^(react|react-dom)$", "^([a-z]|@[a-z])", "", ".*"]
}